absl-py==0.15.0
astunparse==1.6.3
boto3==1.20.23
botocore==1.23.23
cached-property==1.5.2
cachetools==4.2.4
cassandra-driver==3.25.0
certifi==2021.5.30
charset-normalizer==2.0.9
clang==5.0
click==8.0.3
crypto==1.4.1
dataclasses==0.8
dnspython==2.1.0
Flask==2.0.2
Flask-Cors==3.0.10
flatbuffers==1.12
gast==0.4.0
geomet==0.2.1.post1
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
gunicorn==20.1.0
h5py==3.1.0
idna==3.3
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonify==0.5
keras==2.6.0
Keras-Preprocessing==1.1.2
lxml==4.6.4
Markdown==3.3.6
MarkupSafe==2.0.1
Naked==0.1.31
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
pandas==1.1.5
Pillow==8.4.0
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==3.12.0
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.5.0
scikit-learn==0.24.2
scipy==1.5.4
shellescape==3.8.1
six==1.15.0
sklearn==0.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.1
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.0.0
torch==1.10.0
torchvision==0.11.1
typing-extensions==3.7.4.3
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.12.1
xgboost==0.90
zipp==3.6.0
